/node_modules
/public/hot
#/vendor
#.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.git/
**/*.BAK

#/public/css
#/public/js
/storage/logs/**
#/storage/volumes/**
#/storage/cert/**
#/storage/migration_data/**
#/storage/*.bash
#/storage/setup.txt
#.env.*
